
<div class="container">
    <br>
    <form>
      <div class="form-group">
        <label for="nombres">Nombres</label>
        <input [(ngModel)]="app.nombre" type="text" class="form-control" id="nombres" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input [(ngModel)]="app.apellidos"  type="text" class="form-control" id="apellidos" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input [(ngModel)]="app.correo"  type="text" class="form-control" id="correo" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input [(ngModel)]="app.telefono"  type="text" class="form-control" id="telefono" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label [(ngModel)]="app.direccion"  for="direccion">Direccion</label>
        <input type="text" class="form-control" id="direccion" aria-describedby="emailHelp">
      </div>
      <button (click)="save()" class="btn btn-primary">Guardar</button>
    </form>
  
  </div>
  