

<div class="container">

  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direccion</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of app">
        <th >{{app.id}}</th>
        <th >{{app.nombres}}</th>
        <td>{{app.apellidos}}</td>
        <td>{{app.correo}}</td>
        <td>{{app.telefono}}</td>
        <td>{{app.direccion}}</td>
        <td><a class="btn btn-primary" href="/form/{{app.id}}">Editar</a></td>
      </tr>
  
      
    </tbody>
  </table>
</div>